
body {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../images/brushed-alum.png");
    background-repeat: repeat; 
    background-color: #004657;
    font-family: 'Oxygen', sans-serif;
}

header, footer {
    min-height: 10vh;
    background-image: url("../images/cubes.png");
    background-repeat: repeat;
    background-color: #004657;
    color: #FFFFFF;
    text-align: center;
}

img {
        width: 50%;
        border: 0px;
        height: auto;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 24px;
}

main {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;    
}

.sec1 {
    background-color: #d6ced02c;
    flex-grow: 1;
}

.sec2 {
    background-color: #d6ced02c;
    flex-grow: 2;
}

/* .sec3 {
    background-color: #d6ced02c;
    flex-grow: 1;
} */

.footer_msg {
    padding: 20px;
    float: right;
}

clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

@media screen and (max-width: 600px){
    main {
      flex-direction: column;
    }
